{%- set proxy = {
  "proxyImage": "swr.ru-moscow-1.hc.sbercloud.ru/sber/nginx:1.23.0"
} -%}

{%- set commonPodAnnotations = {
  "commonPodAnnotations": {
    "openshift.io/scc": "restricted"
  }
} -%}
